*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-family: var(--base-font);
  font-size: 16px;
  line-height: 1.2;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--color-text);
  background: var(--color-background);
  outline: 1px solid red;
}
